/* Style pour la section Hebergements */



.hebergements-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 25%;
    flex-grow: 1;
    margin-top: 33px;
}

.hebergements-cards img {
    height: 134px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


