/******* nav-footer ********/
.nav-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    flex-direction: row;
    background-color: var(--main-bg-color);
    padding: 30px;
}

.nav-bloc{
    display: flex;
    flex-direction: column;
    min-width: 25%;
    justify-content: flex-start;
    gap: 15px;
    padding: 20px;
} 

.nav-bloc nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.nav-title{
    font-size: 18px;
    font-weight: 700;
}

.nav-bloc a{
    font-size: 16px;
    padding-top : 10px;
}