/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /***  section populaires tablette ***/


    .search_filtre{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activ-cards{
        gap:10px;
    }

    .activ-cards img {
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activ-cards .card-content {
        padding: 0;
    }

    .activ-cards .card-txt{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-bloc{
        gap: 30px;
    } 

}
